$grid-breakpoints: (
    xs: 0,
    sm: 250px,
    md: 500px,
    lg: 750px,
    xl: 1000px,
    xxl: 1250px
);
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_mixins.scss";

@include media-breakpoint-up(xs) {
    .container-fluid {
        background-color: violet;
    }
}

@include media-breakpoint-up(sm) {
    .container-fluid {
        background-color: green;
    }
}
@include media-breakpoint-up(md) {
    .container-fluid {
        background-color: violet;
    }
}
@include media-breakpoint-up(lg) {
    .container-fluid {
        background-color: green;
    }
}
@include media-breakpoint-up(xl) {
    .container-fluid {
        background-color: violet;
    }
}
@include media-breakpoint-up(xxl) {
    .container-fluid {
        background-color: green;
    }
}