.bg-light_grayish_blue {
    background-color: hsl(210, 46%, 95%);
}
.bg-moderate-violet {
    background-color: hsl(263, 55%, 52%);
}
.bg-very-dark-graysh-blue{
    background-color: hsl(217, 19%, 35%);
}
.bg-very-dark-blackish-blue{
    background-color: hsl(219, 29%, 14%);
}
.text_light_gray{
    color: hsl(0, 0%, 81%);
}